/* CSS Placeholder */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*height: 100vh;*/
  width: 100vw;
}

.chessboard-container {
    width: min(75vw, 75vh);
    height: min(75vw, 75vh);
}
